# Godot 4+ specific ignores
.godot/

# from https://docs.godotengine.org/en/stable/tutorials/best_practices/version_control_systems.html
.import/
*.translation
export_presets.cfg
.mono/
Art/mystic_woods/sprites/
